<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">

      <!--Form goes below.-->
      <div class="container">
        <div [hidden]="submitted">
          <h1>Custom Form</h1>
          <form (ngSubmit)="onSubmit()" #myForm="ngForm">

            <!--Name-->
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
              <div [hidden]="name.valid || name.pristine" class="alert alert-danger"> Name is required </div>
            </div>

            <!--Email-->
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" required [(ngModel)]="model.email" name="email" #email="ngModel">
              <div [hidden]="email.valid || email.pristine" class="alert alert-danger"> Email is required </div>
            </div>

            <!--Phone-->
            <div class="form-group">
              <label for="mobile">Phone Number</label>
              <input type="tel" class="form-control" id="mobile" required [(ngModel)]="model.mobile" name="mobile" #mobile="ngModel">
              <div [hidden]="mobile.valid || mobile.pristine" class="alert alert-danger"> Phone number is required </div>
            </div>

            <!--Zip Code-->
            <div class="form-group">
              <label for="zipcode">Zip Code</label>
              <input type="number" class="form-control" id="zipcode" required [(ngModel)]="model.zipcode" name="zipcode" #zipcode="ngModel">
              <div [hidden]="zipcode.valid || zipcode.pristine" class="alert alert-danger"> Zip code is required </div>
            </div>

            <!--Housing Type-->
            <fieldset>
              <legend>Select housing type:</legend>

              <div>
                <input type="checkbox" id="singleFamily" name="singleFamily" value="true" [(ngModel)]="model.singleFamily" #singleFamily="ngModel"/>
                <label for="singleFamily">Single Family</label>
              </div>

              <div>
                <input type="checkbox" id="multiFamily" name="multiFamily" value="true" [(ngModel)]="model.multiFamily" #multiFamily="ngModel"/>
                <label for="multiFamily">Multi Family</label>
              </div>
            </fieldset>

            <!--Start Date Selection-->
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="picker1" placeholder="Choose a start date" type="date" class="form-control" name="start" id="start" [(ngModel)]="model.startDate" #start="ngModel">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker1></mat-datepicker>
              </mat-form-field>
            </div>

            <!--End Date Selection-->
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="picker2" placeholder="Choose a end date" type="date" class="form-control" name="end" id="end" [(ngModel)]="model.endDate" #end="ngModel">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker2></mat-datepicker>
              </mat-form-field>
            </div>

            <!--Marital Status-->
            <fieldset>
              <legend>Select marital status:</legend>

              <div>
                <input type="checkbox" id="married" name="married" value="true" [(ngModel)]="model.married" #married="ngModel"/>
                <label for="singleFamily">Married</label>
              </div>

              <div>
                <input type="checkbox" id="single" name="single" value="true" [(ngModel)]="model.single" #single="ngModel"/>
                <label for="multiFamily">Single</label>
              </div>

              <div>
                <input type="checkbox" id="unknownStatus" name="unknownStatus" value="true" [(ngModel)]="model.unknownStatus" #unknownStatus="ngModel"/>
                <label for="multiFamily">Unknown</label>
              </div>
            </fieldset>

            <!--Gender-->
            <fieldset>
              <legend>Select gender:</legend>

              <div>
                <input type="checkbox" id="male" name="male" value="true" [(ngModel)]="model.male" #male="ngModel"/>
                <label for="singleFamily">Male</label>
              </div>

              <div>
                <input type="checkbox" id="female" name="female" value="true" [(ngModel)]="model.female" #female="ngModel"/>
                <label for="multiFamily">Female</label>
              </div>

              <div>
                <input type="checkbox" id="unknownGender" name="unknownGender" value="true" [(ngModel)]="model.unknownGender" #unknownGender="ngModel"/>
                <label for="multiFamily">Unknown</label>
              </div>
            </fieldset>

            <button type="submit" class="btn btn-success" [disabled]="!myForm.form.valid">Submit</button>
            <button type="button" class="btn btn-default" (click)="newForm(); myForm.reset()">New Form</button>
          </form>
        </div>

        <!--Submitted Form-->
        <div [hidden]="!submitted">
          <h2>You submitted the following:</h2>
          <p style="word-wrap: break-word;">{{diagnostic()}}</p>
          <br>
          <button class="btn btn-primary" (click)="submitted=false">Edit</button>
        </div>
      </div>

    </div>
  </div>
</div>
