.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

/*.ng-invalid:not(form), .ng-invalid:not(form).date {
  border-left: 5px solid #a94442;
}*/

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 40px;
}

.example-margin {
  margin: 0 10px;
}

.zip {
  width: 5em;
}

.alert {
  width: 20em
}

.legend {
  padding-bottom: 10px;
}